.api-call {
  background-color: #90e0ef;
  width: 300px;
  border-radius: 10px;
}
.post-header {
  background-color: #90e0ef;
}
.image {
  width: 200px;
  margin-bottom: 10px;
}
p {
  font-size: 8px;
}
